<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
<div class="footer-container">
    <div class="footer-title">
        <a href="/"><i class="bi bi-newspaper"></i> Caner<b>Haber</b></a>  		
    </div>
    <div class="footer-contact">
        <p>İletişim</p>
        <ul>
            <li><a href="/">İnstagram</a></li>
            <li><a href="/">Twitter</a></li>
            <li><a href="/">Facebook</a></li>
            <li><a href="/">Whatsapp</a></li>
        </ul>
    </div>
    <div class="footer-sponsor">
        <p>Sponsorlar</p>
        <ul>
            <li><a href="/">HaberTürk</a></li>
            <li><a href="/">Sabah</a></li>
            <li><a href="/">Posta</a></li>
            <li><a href="/">Haber</a></li>
        </ul>
    </div>
    <div class="footer-app">
        <p>Sponsorlar</p>
        <ul>
            <li><a href="/">Google Play Store </a></li>
            <li><a href="/">App Store</a></li>
        </ul>
    </div>
</div>
<script src='/javascripts/newspaper.js'></script>
</body>
</html>
