<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/newspaper.css">
</head>
<body>

<div class="slider-newspaper-container">
    <h4 class="newspaper-title"><b>GAZETELER</b></h4>
    <div class="slider-newspaper" id="slider-newspaper">
      </div>
</div>

<script src='/javascripts/newspaper.js'></script>
</body>
</html>
